* {
    margin: 0;
}
body {
    background-color: #FDFFF5;
    padding: 0;
    margin: 0;
    /*font-family: ;*/
}
.container {
    border: 1px solid;
    height: 3403px;
    width: 1512px;
    margin: 0 auto;
    /*color: #FDFFF5;*/
}

/*не используй написание стилей на конкретные теги даже если они такие уникальные как хедер. а особенно со вложенностью это может в последствии породить херову гору багов и ты не будешь понимать адекватно откуда эти стили пришли*/
.header {
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.header__nav {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    width: 1352px;
    margin-top: 40px;
    background-color: #0D3023;
    border-radius: 40px 40px;
    padding: 16px 40px;
}

.header__icon {
    display: flex;
    width: 48px;
    height: 48px;
    position: static;
}

.header__nav_menu {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    height: 30px;
    padding-inline-start: 0;
}

/*БЭМ предполагает под собой только блок__элемент_модификатор дополнительных нижних подчеркиваний не надо. при чем между блоком и элементом два нижних подчеркивания а между элементом и модификатором подразумевается одно нижнее подчеркиваениек*/
.header__nav_menuItem {
    font-family:"Montserrat Alternates", sans-serif;
    font-size:20px;
    color: #FDFFF5;
}

/*
Еще ты не до конца понимаешь суть БЭМ и мне лень тут это править самому. но блок это блок. элемент блока это элемент а модификатор может лишь изменять незначительные части этого элемента. Например
у тебя есть меню окей это .menu в меню есть кнопка окей это .menu__btn и в меню есть кнопка точно такая же как и все остальные но почему то черного цвета а не синего вот это будет модификатор .menu__btn_blackEdition
но если внутри кнопки есть иконка то это будет .menu__btnIcon*/

.contentWrapper {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSection {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.select {
    width: 125px;
    height: 29px;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем обводку при фокусировке */
    background-color: transparent;
    font-size: 24px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #0D3023;
    margin-right: auto;
}

.name {
    display: flex;
    justify-content: center;
    padding-right: 125px;
    width: 100%;
    font-size: 128px;
    height: 141px;
    color: #0D3023;
    font-family: "Lighthaus", sans-serif;
}

.banner {
    display: flex;
    border: 1px solid red;
    height: 633px;
    width: 1352px;
    background: url("../image/frame111.jpg") no-repeat center/cover ;
    margin-top: 32px;
    border-radius: 40px 40px;
    position: relative;
    filter: brightness(50%);
}

.banner__content {
    position: absolute;
    bottom: 24px;
    right: 24px;
    z-index: 1;
}

.banner__contentText {
    color: #FDFFF5;
    font-size: 21px;
    font-family: "Montserrat Alternates", sans-serif;
    line-height: 27px;
    text-align: right;
}

.banner__contentPost {
    margin-top: 16px;
    background: none;
    border: 1px solid #FDFFF5;
    height: 47px;
    width: 400px;
    border-radius: 15px 15px;
    font-size: 26px;
    font-family: "Montserrat Alternates", sans-serif;
    justify-content: center;
    color: #FDFFF5;
}

.content {
    display: flex;
    border: 1px solid green;
    height: 762px;
    width: 1352px;
    margin: 200px 0 0 80px;
}
.popular{
    height: 82px;
    width: 1352px;
    font-family: "Lighthaus", sans-serif;
    color: #0D3023;
    font-size: 64px;
    line-height: 82px;


}


.card {
    display: flex;
    border: 1px solid red;
    height: 633px;
    width: 1352px;
    background: url("../image/frame111.jpg") no-repeat center/cover ;
    margin-top: 32px;
    border-radius: 40px 40px;
    position: relative;
    filter: brightness(50%);
}

.card__content{
    display: block;
    height: 308px;
    width: 308px;
    background: url("../image/Frame145.png");
    position: relative;
    border: 1px solid red

}
.button{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #0D3023;
    padding: 5px;
    height: 48px;
    width: 48px;
    bottom: 14px;
    right: 14px;
    border-radius: 100px ;
    position: absolute;
}







.content {
    border: 1px solid;
    height: 2760px;
}
footer {
    border: 1px solid;
    height: 1512px;
}
