.div_1 {
   display: inline-block;               /*#превращает теги в строчный и блочный block, inline-block */
   border: 1px solid red;      /*толщина границы блока и цвет рамки*/
   margin: 20px;                 /*отступ у блока от внеш границ*/
   /*padding: 20px;*/                /*отступ между внутренним содержимым и блоком*/
   /*background: red;*/          /*выбор цвета на фон*/
   background: url("../image/img1.jpg") no-repeat center;        /*вставка на фон картинки из папки*/
   height: 100px;                /*ширина*/
   width: 300px;                 /*высота*/
   position: relative; /*позиционирование относительно страницы*/
   
}
.div_2 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    position: absolute;
    top: 10px;
    right: 30px;

}
.p_1 {
    border: 1px solid green;
    color: red;
    font-size: 30px;                /*размер шрифта*/
    font-weight: bold;              /*толщина шрифта*/
    text-indent: 20px;              /*отступ от начала для строчных тегов*/
    text-align: center;             /*выставить текст по центру если текст внутри блочного тега*/
    text-transform: lowercase;      /*трансформация букв в заглавные, строчные*/
    text-decoration: underline;     /*подчеркнуть тектс, зачеркнуть и тд*/
    word-spacing: 15px;             /*расстояние между словами*/
    letter-spacing: 5px;            /*расстояние между буквами*/



}

.container {
    display: flex; /* Включаем Flexbox */
  }
  
  .item {
    margin: 10px; /* Отступы между блоками */
    padding: 20px;
    background-color: lightblue; /* Цвет фона для наглядности */
  }


  .inline-item {
    display: inline-block; /* Устанавливаем блочный элемент в строку */
    margin: 10px; /* Отступы между блоками */
    padding: 20px;
    background-color: lightgreen; /* Цвет фона для наглядности */
  }
  
  